@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container" >
    <h1 class="display-4">Ski Lessons by Danny</h1>
    <img src="~/assets/img/me-on-hike.jpeg" width="300" height="400" />
    <p>Hi, I'm Danny. This is me on a nice summer hike. When it's not summer, I love to ski! Ever since I was a young lad, my dad took me to the mountains of California to learn the art of pow shredding.
        We went once a year around Chirstmas time to practice gnarology and I would have to relearn for a few runs 
        because it had been so long since the last time. But eventually, I could do green runs, and then blue runs. Now that I'm living in Utah,
        I get to be close to the mountains and work my way up to those black diamonds.
    </p>
    <br />
    <img src="~/assets/img/ski-example.jpg" width="400" height="300" />
    <p>If you want to learn how to ski, whether a first timer or a returning student, I can help you get the pizza and french fries in no time!
        Don't stress about going too fast or not being able to keep up, because, in the words of Master Shifu, "There is now a level zero."
        <a asp-area="" asp-controller="Home" asp-action="GetQuote">Learn more.</a>
    </p>
</div>